<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ path('home') }}">
                    <img src="../img/wine.png" height="30px">
                    World of Wine
                </a>
                <div class="d-flex flex-row align-items-center">
                
                {% if is_granted('ROLE_ADMIN') %}
                    <form action="{{ path('admin') }}">
                        <button class="btn btn-outline-info me-2" type="submit">Админ-панель</button>
                    </form>
                    Здравствуйте, {{ app.user.name }}
                    <form action="{{ path('app_logout') }}">
                        <button class="btn btn-outline-danger me-2" type="submit">Выход</button>
                    </form>
                {% elseif is_granted('ROLE_HK') %}
                    <form action="{{ path('batch_index') }}">
                        <button class="btn btn-outline-info me-2" type="submit">Отдел хранения</button>
                    </form>
                    <form action="{{ path('orders_report') }}">
                        <button class="btn btn-outline-success me-2" type="submit">Генерация отчёта</button>
                    </form>
                    Здравствуйте, {{ app.user.name }}
                    <form action="{{ path('app_logout') }}">
                        <button class="btn btn-outline-danger me-2" type="submit">Выход</button>
                    </form>
                {% elseif is_granted('ROLE_SELLER') %}
                    <form action="{{ path('order_index') }}">
                        <button class="btn btn-outline-info me-2" type="submit">Заказы</button>
                    </form>
                    <form action="{{ path('fridge_report') }}">
                        <button class="btn btn-outline-success me-2" type="submit">Генерация отчёта</button>
                    </form>
                    Здравствуйте, {{ app.user.name }}
                    <form action="{{ path('app_logout') }}">
                        <button class="btn btn-outline-danger me-2" type="submit">Выход</button>
                    </form>
                {% elseif is_granted('ROLE_USER') %}
                    <form action="{{ path('name_index') }}">
                        <button class="btn btn-outline-info me-2" type="submit">Каталог</button>
                    </form>
                    <form action="{{ path('cart') }}">
                        <button class="btn btn-outline-success me-2" type="submit">Корзина</button>
                    </form>
                     Здравствуйте, {{ app.user.name }}
                    <form action="{{ path('app_logout') }}">
                        <button class="btn btn-outline-danger me-2" type="submit">Выход</button>
                    </form>
                {% else %}
                    <form action="{{ path('name_index') }}">
                        <button class="btn btn-outline-info me-2" type="submit">Каталог</button>
                    </form>
                    <form action="{{ path('app_login') }}">
                        <button class="btn btn-outline-success me-2" type="submit">Вход</button>
                    </form>
                    <form action="{{ path('app_register') }}">
                        <button class="btn btn-outline-secondary me-2" type="submit">Регистрация</button>
                    </form>
                {% endif %}
                </div>
            </div>
        </nav>
        {% block body %}
        {% endblock %}
    </body>
</html>
